.totdo-container{
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.header{
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}